<head>
</title>
</head>	
</body>
<div class="well title">
<h3><%= @user.login %> - <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></h3>
<h5><%= @user.first_name =%> <%= @user.last_name =%></h5>
<% if @user.wca_id != nil &&  @user.wca_id.length > 9 then%>
<%  urlString = "https://www.worldcubeassociation.org/results/p.php?i=#{@user.wca_id}" %>
<a href = <%= urlString %>>WCA Profile </a>
<% else %>
	This user has not linked their WCA ID.
<% end %>
</div>
<table class="table table-striped table-condensed table-hover">
		<tr> 
		<th>Event</th>
		<th><center>Elo</center></th>
		<th><center>Best Average</center></th>
		</tr>
	    <tr>
	    	<td>2x2 Speedsolve</td> 
	    	<%  if @user.ELO_2x2 == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_2x2%></center></td>
	    	<% end %>
	    	<td><center><%= @PBs["2x2"] %></center></td>
	    </tr>
	     <tr>
	    	<td>3x3 Speedsolve</td> 
	    	<%  if @user.ELO_3x3 == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_3x3%></center></td>
	    	<% end %>
	    	<td><center><%= @PBs["3x3"] %></center></td>
	    </tr>
	    <tr>
	    	<td>4x4 Speedsolve</td> 
	    	<%  if @user.ELO_4x4 == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_4x4%></center></td>
	    	<% end %>
	    	<td><center><%= @PBs["4x4"] %></center></td>
	    </tr>
	    <tr>
	    	<td>5x5 Speedsolve</td> 
	    	<%  if @user.ELO_5x5 == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_5x5%></center></td>
	    	<% end %>
	    	<td><center><%= @PBs["5x5"] %></center></td>
	    </tr>
	    <tr>
	    	<td>6x6 Speedsolve</td> 
	    	<%  if @user.ELO_6x6 == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_6x6%></center><center></td>
	    	<% end %>
	    	<td><center><%= @PBs["6x6"] %></center></td>
	    </tr>
	    <tr>
	    	<td>6x6 Speedsolve</td> 
	    	<%  if @user.ELO_7x7 == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_7x7%></center></td>
	    	<% end %>
	    	<td><center><%= @PBs["7x7"] %></center></td>
	    </tr>
	    <tr>
	    	<td>3x3 One Handed</td> 
	    	<%  if @user.ELO_3x3OH == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_3X3OH%></center></td>
	    	<% end %>
	    	<td><center><%= @PBs["3x3 OH"] %></center></td>
	    </tr>
	    <tr>
	    	<td>Pyraminx Speedsolve</td> 
	    	<%  if @user.ELO_Pyraminx == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><%= @user.ELO_Pyraminx%></td>
	    	<% end %>
	    	<td><center><%= @PBs["Pyraminx"] %></center></td>
	    </tr>
	    <tr>
	    	<td>Megaminx Speedsolve</td> 
	    	<%  if @user.ELO_Megaminx == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_Megaminx%></center></td>
	    	<% end %>
	    	<td><center><%= @PBs["Megaminx"] %></center></td>
	    </tr>
	    <tr>
	    	<td>Square-1 Speedsolve</td> 
	    	<%  if @user.ELO_Square1 == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_Square1%></center></td>
	    	<% end %>
	    	<td><center><%= @PBs["Square-1"] %></center></td>
	    </tr>
	    <tr>
	    	<td>Skewb Speedsolve</td> 
	    	<%  if @user.ELO_Skewb == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_Skewb%></center></td>
	    	<% end %>
	    	<td><center><%= @PBs["Skewb"] %></center></td>
	    </tr>
	    <tr>
	    	<td>Clock Speedsolve</td> 
	    	<%  if @user.ELO_Clock == 0 then%>
	    	<td><center>-</center></td>
	    	<% else %>
	    	<td><center><%= @user.ELO_Clock%></center></td>
	    	<% end %>
	    	<td><center><%= @PBs["Clock"] %></center></td>
	    </tr>
	
</table>
</body>
