<div class="row">
	<% if Contest.last %>
		<% @eventArray = Contest.last.events %>
		<% counter = 0 %>
		<% @eventArray.each do |event| %>
			<% shouldShowButton = true; %>
			<% for submission in event.submissions %> 
				<% if submission.user_id == session[:currentUserID]  %>
					<% shouldShowButton = false %>
				<% end %>
			<% end %>	
      		<div class="col-lg-<%= 12/@eventArray.length %>" onmouseover = toggle(<%= counter %>) onmouseout = toggle(<%= counter %>) >
			<% if session[:currentUserID] != nil  then %>
				<% if shouldShowButton  then %>
					<a href="/contests/<%=event.id%>">
					<div class="panel panel-primary">
					<div class="panel-heading">
			    	<h3 class="panel-title"><%= event.event_name %> <i class="fa fa-angle-double-right"></i></h3>
				<% else %> 
					<div class="panel panel-success">
					<div class="panel-heading">
			    	<h3 class="panel-title"><%= event.event_name %> (Completed) <i class="fa fa-check"></i> </h3>
				<% end %>
			<% else %>
				<div class="panel panel-warning">
				<div class="panel-heading">
			    <h3 class="panel-title"><%= event.event_name %> <i class="fa fa-angle-double-right"></i></h3>
			<% end %>
			</div>
			<div class="panel-body">
			    <ul>
					<li>Average of <%= event.scrambles.size %></li>
					
						<div hidden = "true" id = <%=counter %> >
						<% if event.submissions.size != 0  then %>
							
							<font size = "1pt">•</font>
						<% end %>
			    			<% event.submissions.first(30).each do |s|%>
			    				<% if s.user_id != nil%>
			    				 <font size = "1pt"><%= User.find(s.user_id).login%> •</font>
			    				 <% end %>
			    			<% end %>
						<% if event.submissions.size > 30 then %>
						       <font size = "1pt">(<%= event.submissions.size %> more)</font>
						<% end %>
			    		</div>
			    </ul>
			  </div>
			</div>	
			<% counter += 1 %>	
			<% if session[:currentUserID] != nil  then %>
				<% if shouldShowButton  then %>
					</a>
				<% end %>
			<% end %>
		</div>
		<% end %>

	<% end %>
</div>
<script>
function toggle(id){
	if(document.getElementById(id).hidden == true){
		document.getElementById(id).hidden = false;
		delta = function(p) {return p}
	}else{
		document.getElementById(id).hidden = true
	}

}


</script>
