<div class="row">
	<div class="col-lg-12">
		<div class="well">
			<% if session[:currentUserID] == nil  then %>
				<a href="#">Login</a> or <a href="#">Create an Account</a> to compete in this week's competition. 
			<% else %>
				Compete in this week's competition by clicking the events below </br>
				This weeks featured event is the <%= Contest.last.featured_event_name %> event
			<% end %>
		</div>
	</div>
</div>
<%= render "shared/contest_links" %>


<div class = "row">
	<div class="col-lg-7">
	<div class = "well title">
	<h4>What is the Sunday Contest?</h4>
	The Sunday Contest is a place where speedcubers can compete against other cubers for a chance to win cool prizes, improve their personal rank, and practice new events. <a href="/about/">Learn more here.</a>
	</div>
</div>
</div>
<% if(Announcement.last != nil) then %>
	<div class = "row">
	<div class="col-lg-7">
		<div class="well" style="padding-top:2px">
		<h4>This week's winners:</h4>
			<%= Announcement.last.first_line%></br>
			<%= Announcement.last.second_line%></br>
			<%= Announcement.last.third_line%></br>
			</div>
	</div>
</div>
<% end %>
<div class = "row">
	<div class="col-lg-7">
		<div class="well" style="padding-top:2px">
		<h4>Our Sponsors</h4>
		</div>
	</div>
</div>

</div>

<% if session[:currentUserID] != nil && User.find(session[:currentUserID]).isMod == true then%>
	

<% end %>

