<!DOCTYPE html>

<title>Sunday Contest</title>
<html>
<head>
<%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  
  <link href="http://bootswatch.com/cyborg/bootstrap.min.css" rel="stylesheet">
   <%= stylesheet_link_tag    "application", media: "all"%>
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47491324-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-56585323-1', 'auto');
	ga('send', 'pageview');
</script>
</head>


<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1475559416044636&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<img class="bg" src="/welcome-splash-blur-gradient.png"> 
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container" id="nav">
    <div class="nav navbar-nav navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> <i class="fa fa-cube"></i> Sunday Contest<sup>BETA</sup></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <!--<li><a href="/contests/ " onClick="collapse=false;"> <i class="fa fa-th"></i> Contests</a></li>-->
        <li><a href="/ranking/" onClick="collapse=false;"> <i class="fa fa-trophy"></i> Ranking</a></li>
        <li><a href="/archive/" onClick="collapse=false;"> <i class="fa fa-archive"></i> Archives</a></li>
        <li><a href="/users/" onClick="collapse=false;"> <i class="fa fa-users"></i> Users</a></li>
        <li><a href="/about/" onClick="collapse=false;"> <i class="fa fa-info-circle"></i> About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if session[:currentUserID] != nil then %>
            <%  currentUser = User.find_by_id(session[:currentUserID]) %>
      
            <li><%= link_to "#{currentUser.first_name}", "/users/#{currentUser.id}" %></li>
             <li><a href="/account">Account <i class="fa fa-cog"></i></a></li>
            <li><%= link_to "Logout", "/users/logout" %></li>
      <% else %>
        <li><%= link_to "Login", "/users/login"%></li>
        <li><%= link_to "Sign Up", "/users/new"%></li>
      <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
  <div class="container" id="content">
    <%= yield %>
  </div>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-center">© 2014 - Made with love by <a href="//davidada.ms">David</a> and <a href="//westonmizumoto.com">Weston</a>.
      
      </p>

    </div>    

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function (){
  $("a.nav[href^='#']").click(function(){
   $('html, body').animate(
    {scrollTop: $(this.hash).offset().top - 60}, 500, 'swing')
  });
 $(".active").click(function(){
  $('html, body').animate(
   {scrollTop: 0}, 500, 'swing')
 });

 });
</script>

</body>
</html>

